# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# nvim
.config/nvim/plugin/packer_compiled.lua

#dwm
.config/suckless/dwm/dwm.c.orig
.config/suckless/dwm/.cache/
.config/suckless/dwm/compile_commands.json
.config/suckless/dwm/config.def.h.orig
.config/suckless/dwm/dwm.c.rej
.config/suckless/dwm/config.def.h.rej

#st
.config/suckless/st/st.h.orig
.config/suckless/st/x.c.orig
.config/suckless/st/config.def.h.orig
.config/suckless/st/st.c.orig

